Library/
Temp/
Logs/
UserSettings/
MemoryCaptures/
Obj/
Build/
Builds/
[Bb]uild/
[Bb]uilds/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.bak
*.cache
*.tmp
*.zip
